/*--navbar--*/
.navbar {
    background-color: #2b7786;
}
.text-color {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px white;
    font-size: 15px;
    text-decoration: none;
}
.text-color .link {
    text-decoration: none;
    color: white;
}

.departments {
    text-decoration: none;
    color: black;
}
#navbarScrollingDropdown {
    color: white;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hospitalLogo {
    color: aliceblue;
}
